<div class="flash-msg flash-result">
  <div class="winner">
    <div class="l-inside">
      <p><%= player result.winner_name %> climbs to <%= ordinal_position(result.winner) %> place</p>
    </div>
  </div>
  <div class="loser">
    <div class="l-inside">
      <p>leaving <%= player result.loser_name %> <%= ordinal_position(result.loser) %></p>
    </div>
  </div>
  <div class="actions">
    <div class="l-inside">
      <p><%= link_to "undo", undo_results_path %></p>
    </div>
  </div>
</div>
