<div class="flash-msg flash-result">
  <div class="actions">
    <div class="l-inside">
      <p><%= link_to "undo", undo_results_path %></p>
    </div>
  </div>
  <div class="points">
    <p><%= phrases[:points] %></p>
  </div>
  <div class="winner" data-player-position="<%= winner_position %>">
    <div class="l-inside">
      <p><%= phrases[:winner] %></p>
    </div>
  </div>
  <div class="loser" data-player-position="<%= loser_position %>">
    <div class="l-inside">
      <p><%= phrases[:loser] %></p>
    </div>
  </div>
</div>
