<ol class="rankings" data-max="<%= sparkline_max %>" data-min="<%= sparkline_min %>">
  <% @players.each do |player| %>
    <li class="rankings-entry">
      <span class="rankings-position"><%= player.position %>.</span>
      <%= link_to player.name, player, class: 'rankings-name' %>
      <span class="rankings-elo"><%= player.elo_rating %></span>
      <span class="sparkline"><%= sparkline_data_for(player) %></span>
    </li>
  <% end %>
</ol>
