<ol class="rankings" data-max="<%= sparkline_max %>" data-min="<%= sparkline_min %>">
  <% @players.each_with_index do |player, position| %>
    <li class="rankings-entry">
      <span class="rankings-position"><%= position + 1 %>.</span>
      <span class="rankings-name"><%= player.name %></span>
      <span class="rankings-elo"><%= player.elo_rating %></span>
      <span class="sparkline"><%= sparkline_data_for(player) %></span>
    </li>
  <% end %>
</ol>
