<!DOCTYPE html>
<html>
<head>
  <title>Ladder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body><div id="body" class="wait-for-load">

<div id="navbar"><div class="l-inside"><div id="navbar-inside">
  <p class="link ladder-link <%= current_if_section 'players' %>"><%= link_to "Ladder", players_path %></p>
  <p class="link results-link <%= current_if_section 'results' %>"><%= link_to "Past results", results_path %></p>
  <% if user_can_enter_results? %>
    <p class="link result-form-link"><%= link_to "New result", '#' %></p>
  <% end %>
</div></div></div>

<%= render_flash %>

<div id="content"><div class="l-inside">
  <% if user_can_enter_results? %>
    <%= render 'layouts/result_form' %>
  <% end %>
  <%= yield %>
</div></div>

</div></body>
</html>
