<!DOCTYPE html>
<html>
<head>
  <title>Ladder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if current_user %>
  <%= form_for @result do |f| %>
    <p><%= f.select(:winner_id, players_as_options) %> beat <%= f.select(:loser_id, players_as_options) %> <%= f.submit "Submit" %></p>
  <% end %>
<% else %>
  <p><%= link_to "Log in", login_path %></p>
<% end %>

<p><%= link_to "Ladder", players_path %></p>
<p><%= link_to "Results", results_path %></p>

</body>
</html>
